<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Grazie molto gentile, egregio <%= @user.name %>!</h1>
    <p>Sei una persona dal cuore d'oro!</p>
  </body>
</html>